body{
    padding: 10%;
    font-size: 2rem;
    font-family: monospace;
}
/* input,button{
    font:inherit;
} */

/* p{
    text-decoration: line-through;
} */


/* p{
    text-transform:lowercase;
} */

/* p{
    text-align:justify;
} */

/* p{
    text-indent:1vh;
} */

/* p{
    line-height: 1em;
    letter-spacing: 0.1em;
} */

/* p{
    word-spacing: 2em;
} */

/* p{
    font-weight: 900;
} */

/* p{
    font-style: oblique;
} */